%h2= @message
%hr
#msgs
%h1 Welcome to Hack Reactioner
- if @current_question
  .current-question
    %h3 CURRENT question
    %p= @current_question.title

%p
  %a{:href=> '/question/new'} Add a question
%p
  %a{:href=> '/question/all'} See Old Questions
